.layout-notification
.chat
  = render partial: 'groups/side_bar', locals: { groups: @groups}
  .chat-main
    .chat-header.clearfix
      .chat-header--left
        %h2
        = @group.name
        %p.chat-header__users
          Members:
          %span.chat-header__user
          - @group.users.each do |user|
            = user.name
      .chat-header--right
        = link_to "Edit", edit_group_path(@group), class: 'chat-header__edit-btn'

    .chat-body
      %ul.chat-messages
        = render @messages
    .chat-footer
      = form_for [@group, @message] do |f|
        .chat-footer__body
          = f.text_area :body, placeholder: 'type a message'
          .chat-footer__file
            = f.label :image do
              = f.file_field :image
              %i.fa.fa-image
        = f.submit 'Send'
